.App {
  background: #99e7ff;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.header {
  padding: 30px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.pic-list {
  /*width: 80%;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
}

.pic-list__item {
  background: #e6f9ff;
  list-style-type: none;
  border: solid 2px #33cfff;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
}


.pic-list__description {
  width: 80%;
  line-height: 1.3;
  margin: 0 auto;
}

.pic-list__img {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.pic-list__author {
  display: block;
}

.pic-list__description,
.pic-list__author,
.pic-list__index {
  text-align: center;
  margin-bottom: 10px;
}

.btn {
  border: none;
  border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
}

.btn_more {
  background: #005c99;
  width: 150px;
  height: 30px;
  color: #ffffff;
  display: block;
  align-self: center;
}

.spinner {
  position: fixed;
  bottom: 50%;
  left: 50%;
}
